.skill-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

 .my-big {
     font-size: 20rem;
     @include sp {
         font-size: 12rem;
     }
 }

 

 .skill-item {
    width: 50%;
    text-align: center;
    &:hover {
         opacity: 0.5;
    }
    @include sp {
        margin-bottom: 20px;
    }
 }

 .skill-item_title {
     font-size: 2rem;
 }

 .skill-item_content {
     font-size: 2rem;
 }